

/*header {
    background-color: #BD99F7;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.left-align {
    text-align: left;
    color: #f7f4f4;
    font-size: 24px;
}*/

.center-align {
    text-align: center;
    color: #000000;
    font-size: 48px;
    
}

/*header h1 {
    margin: 0;
    font-size: 30px;
    color: #f7f4f4;
}

header img {
    height: 50px;
} */

body {
    background-color: #828484;
    margin: 0;
    padding: 0;
}   

nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.container {
    background-color: #f0cfe9;
    border: 4px solid #fcfbfc;
    padding: 20px;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-left: 20px;
}

.subscribe-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

.subscribe-btn:hover {
    background-color: #555;
}
/*footer {
    background-color: #BD99F7;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
  }*/
